[SddmGreeterTheme]
Name=Shtrkce-Simplicity
Description=Simple SDDM theme
Type=sddm-theme
Author=Bojan Shtrkovski
Copyright=(c) 2019, Gabriel Ibáñez
Screenshot=screenshot1.jpg
License=GPL
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Shtrkce-Simplicity
Theme-API=2.0
Website=https://github.com/bojanstrkovski-21/shtrkce-simplicity-sddm-theme

